@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: rgb(255, 251, 251);
	color: rgb(44, 43, 43);
}

.container {
	margin: 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

h1 {
	font-size: clamp(2rem, 10vw, 3rem);
}

h2 {
	font-size: clamp(1rem, 7vw, 1.5rem);
}

h3 {
	font-size: clamp(0.5rem, 5vw, 1.2rem);
}

.shadow {
	box-shadow: 0px 1.5px 5px 0px rgb(156 156 158 / 95%);
}

hr {
	border-top: solid 0.1px rgba(177, 175, 175, 0.37);
	padding-left: clamp(1rem, 2%, 2rem);
	padding-right: clamp(1rem, 2%, 2rem);
}

.nav {
	display: flex;
	background-color: #219ebc;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.nav > * {
	font-size: clamp(1rem, 1.5vw, 1.2em);
	color: rgb(255, 251, 251);
	text-decoration: none;
}

.nav a {
	font-weight: 500;
}

.background {
	background-color: white;
	box-shadow: 4px 5px 10px 0px rgb(226 226 226 / 95%);
	border: solid 0.1px rgba(177, 175, 175, 0.37);
	border-radius: 0.5em;
	padding: 4% 3%;
}

.networth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.portfolio {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.funds {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	max-height: 12rem;
}

.fundsForm {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.fundsInput {
	border: solid 1px rgb(190, 188, 188);
	border-radius: 0.25rem;
	padding: 0.5rem;
	max-width: 30%;
}

.button {
	color: white;
	background: #035b86;
	border-radius: 2em;
	padding: 0.5rem 1.3rem;
	cursor: pointer;
}

.button:hover {
	background: #033b57;
}

table > * {
	font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

th {
	padding-bottom: 0.5rem;
}

td {
	border-bottom: 1px solid #ddd;
	padding: 0.6rem;
}

.select {
	width: 100%;
}

.transactions {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.transactions.background {
	padding: 5% 5%;
}

.order {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	min-width: 15rem;
}

.orderForm.background {
	padding: 5% 5%;
}

.orderForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-width: 15rem;
}

.orderPreview {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.orderPreview.background {
	padding: 5% 5%;
}

.orderInput {
	border: solid 1px rgb(190, 188, 188);
	border-radius: 0.25rem;
	padding: 0.5rem;
}

@media only screen and (min-width: 800px) {
	.portfolio {
		flex-direction: row-reverse;
		gap: 2rem;
	}

	.funds {
		justify-content: initial;
		align-items: initial;
	}

	.fundsForm {
		justify-content: initial;
		align-items: initial;
	}

	.order {
		flex-direction: row;
	}
}
